<a href="https://colab.research.google.com/github/lauren-esser/Recommendation-System/blob/main/MovieRecSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie Recommendation-System

**By:** Lauren Esser

# Business Understanding

*not finished* --> The goal of this project is to build a model that provides top 5 movie recommendations to a user, based on their ratings of other movies. The business value behind this recommendation system is that it keeps users engaged. If a user sits down to watch a movie, but doesn't know what to select, using a recommendation system can help select movies that the user will actually enjoy and keep them coming back for more. This increases use of the website or app which thus increases sales.

# Abstract

<img src = 'https://www.vshsolutions.com/wp-content/uploads/2020/02/recommender-system-for-movie-recommendation.jpg'>

# Introduction

# Import and Connect

In [1]:
#set numpy random seed
import numpy as np
np.random.seed(1919)

In [2]:
#set tensorflow random seed
import tensorflow as tf
tf.random.set_seed(1919)

In [3]:
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.6/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.19.4)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.3.20)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

In [4]:
#import needed libraries
import pandas as pd
import pandasql
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os, glob

In [5]:
#connect to google drive
from google.colab import drive
drive.mount('/gdrive', force_remount = True)

Mounted at /gdrive

In [6]:
#move to home directory
%cd ~
%cd ..

/root
/

In [7]:
#list files in DataSets
!ls '/gdrive/My Drive/Colab Notebooks/DataSets'

archive.zip		      IVE_tickbidask.txt  News_Category_Dataset_v2.json
chest-xray-pneumonia-jmi.zip  Megatable-2016.sql
dogs-vs-cats-sorted.zip       ml-latest-small

# Obtain

Data comes from Grouplens website found [here.](https://grouplens.org/datasets/movielens/latest/) GroupLens is a research group in the Department of Computer Science and Engineering at the University of Minnesota. For this notebook I chose to download the *Small* MovieLens dataset. Movielens is a non-commerical website that allows users to rate movies. This dataset includes 100,000 ratings and 3,600 tag applications applied to 9,000 movies by 600 users. The last update to this dataset was September 2018.



**Table Information**:

*Ratings*:
 Each row represents one rating of one movie by one user. Lines are organized by userId, then by movieId. Ratings are on a 5-star scale with .5 star increments. Timestamp represents seconds since midnight UTC of Jan 1, 1970.

---

*Tags*:
 Tags are user-generated metadata about movies. Tags are a single word or short phrase in which the meaning of tag is determined by each user.Timestamps represent seconds since midnight UTC of Jan 1, 1970.

---

*Movies*: 
Movie titles are entered manually or imported from themovieddb.org, this means there could be errors or inconsistencies with movie titles. Genre selection comes from a curated list for the user to select from. 

---

*Links*:
 Links include the identifier number for imdbID and tmdbID.

 ---

In [8]:
# #import and assign text file
# source_folder = r'gdrive/My Drive/Colab Notebooks/DataSets/'
# file = glob.glob(source_folder+ 'ml-latest-small.zip', recursive = True)
# file = file[0]
# file

IndexError: ignored

In [ ]:
# #unzip data
# zip_path = file
# !cp '{zip_path}' .

# !unzip -q ml-latest-small.zip 
# !rm ml-latest-small.zip

In [9]:
#create movies dataframe
movies = pd.read_csv('gdrive/My Drive/Colab Notebooks/DataSets/ml-latest-small/movies.csv')
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [10]:
#create tags dataframe
tags = pd.read_csv('gdrive/My Drive/Colab Notebooks/DataSets/ml-latest-small/tags.csv')
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [11]:
#create ratings dataframe
ratings = pd.read_csv('gdrive/My Drive/Colab Notebooks/DataSets/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [12]:
#create links dataframe
links = pd.read_csv('gdrive/My Drive/Colab Notebooks/DataSets/ml-latest-small/links.csv')
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

# Scrub

Use SQL to merge tables into one.

In [13]:
pysqldf = lambda q: sqldf(q, globals())

In [14]:
q = """SELECT *
       FROM movies m 
       JOIN links l
       ON m.movieId == l.movieId
       JOIN ratings r
       ON l.movieId == r.movieId
       JOIN tags t
       ON r.movieId == t.movieId;"""

In [15]:
df = pysqldf(q)
df.head()

   movieId             title  ...    tag   timestamp
0        1  Toy Story (1995)  ...  pixar  1139045764
1        1  Toy Story (1995)  ...  pixar  1137206825
2        1  Toy Story (1995)  ...    fun  1525286013
3        1  Toy Story (1995)  ...  pixar  1139045764
4        1  Toy Story (1995)  ...  pixar  1137206825

[5 rows x 14 columns]

In [16]:
#check nulls
df.isna().sum()

movieId      0
title        0
genres       0
movieId      0
imdbId       0
tmdbId       0
userId       0
movieId      0
rating       0
timestamp    0
userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [23]:
df.title.value_counts()

Pulp Fiction (1994)                                               55567
Fight Club (1999)                                                 11772
Star Wars: Episode IV - A New Hope (1977)                          6526
Léon: The Professional (a.k.a. The Professional) (Léon) (1994)     4655
2001: A Space Odyssey (1968)                                       4469
                                                                  ...
Angie (1994)                                                          1
Match Factory Girl, The (Tulitikkutehtaan tyttö) (1990)               1
Guerrilla: The Taking of Patty Hearst (2004)                          1
Mildred Pierce (1945)                                                 1
Terrorist, The (a.k.a. Malli) (Theeviravaathi) (1998)                 1
Name: title, Length: 1554, dtype: int64

In [26]:
#basic information
print("Total Data:")
print("Total Number of Movie Ratings: " + str(df.shape[0]))
print("Number of unique users: " + str(len(np.unique(df["userId"]))))
print("Number of unique movies: " + str(len(np.unique(df["movieId"]))))

Total Data:
Total Number of Movie Ratings: 233213
Number of unique users: 610
Number of unique movies: 1554

# Explore

# Model

# Interpret

# Recommendations

# Future Work

Thank you.