<a href="https://colab.research.google.com/github/lauren-esser/Recommendation-System/blob/main/MovieRecSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie Recommendation-System

# Abstract

# Introduction

# Import/Connect

In [2]:
#set numpy random seed
import numpy as np
np.random.seed(1919)

In [4]:
#set tensorflow random seed
import tensorflow as tf
tf.random.set_seed(1919)

In [5]:
#import needed libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os, glob

In [6]:
#connect to google drive
from google.colab import drive
drive.mount('/gdrive', force_remount = True)

Mounted at /gdrive

In [7]:
#move to home directory
%cd ~
%cd ..

/root
/

In [8]:
#list files in DataSets
!ls '/gdrive/My Drive/Colab Notebooks/DataSets'

archive.zip		      IVE_tickbidask.txt  ml-latest-small.zip
chest-xray-pneumonia-jmi.zip  Megatable-2016.sql  News_Category_Dataset_v2.json
dogs-vs-cats-sorted.zip       ml-latest-small

# Obtain

In [9]:
#import and assign text file
source_folder = r'gdrive/My Drive/Colab Notebooks/DataSets/'
file = glob.glob(source_folder+ 'ml-latest-small.zip', recursive = True)
file = file[0]
file

'gdrive/My Drive/Colab Notebooks/DataSets/ml-latest-small.zip'

In [10]:
#unzip data
zip_path = file
!cp '{zip_path}' .

!unzip -q ml-latest-small.zip 
!rm ml-latest-small.zip

In [12]:
#create movies dataframe
movies = pd.read_csv('gdrive/My Drive/Colab Notebooks/DataSets/ml-latest-small/movies.csv')
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [13]:
#create tags dataframe
tags = pd.read_csv('gdrive/My Drive/Colab Notebooks/DataSets/ml-latest-small/tags.csv')
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [14]:
#create ratings dataframe
ratings = pd.read_csv('gdrive/My Drive/Colab Notebooks/DataSets/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
#create links dataframe
links = pd.read_csv('gdrive/My Drive/Colab Notebooks/DataSets/ml-latest-small/links.csv')
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

# Scrub

# Explore

# Model

# Interpret

# Recommendations

# Future Work

Thank you.